@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

body{
  background-color: #F89BBA;
  height: 100%;
  font-family: 'Prompt', sans-serif;
  font-weight: normal;
}

