@import url('https://fonts.googleapis.com/css?family=Prompt:200,500&display=swap');

:root{
  --accentColor:#F5DBE1;
  --mainColor:   #F89BBA;
}

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

body{
  height: 100%;
  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
}

.indexPage{
  background-color: #F89BBA;
}


.image{
  width:100%;
 
}

.about{
  display: flex;
  justify-content: center;
  padding: 0 7rem;
}

.box{
  color: white;
  padding: 4rem;
}

.title{
  color: red;
  font-size: 2rem;
  font-weight: 500;
}

